<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca do Igão - Home</title>
    <!-- Link para o arquivo de estilos CSS, gerenciado pelo Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- Cabeçalho da página -->
    <header>
        <h1>Biblioteca do Igao</h1>
    </header>

    <main>
        <!-- Título e descrição do conteúdo principal -->
        <h2>Bem-vindo à Biblioteca Igao!</h2>
        <p>Selecione uma das opções abaixo para gerenciar livros, categorias ou autores.</p>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Seção de formulários para gerenciar livros, categorias e autores -->
        <div class="form-container">
            <div class="container">
                <!-- Formulário para adicionar um livro -->
                <form action="{{ url_for('bp_books.add_book') }}" method="post">
                    <h1>Adicionar Livro</h1><br>

                    <!-- Campo de entrada para o título do livro -->
                    <label for="titulo">
                        <h3>Título:</h3>
                    </label>
                    <input type="text" id="titulo" name="titulo" placeholder="Digite o título do livro" required><br>

                    <!-- Seletor de autor do livro -->
                    <label for="autor_id">
                        <h3>Autor:</h3>
                    </label>
                    <select id="autor_id" name="autor_id" required>
                        <option value="">Selecione um autor</option>
                        <option value="0">Desconhecido</option>
                        {% if autores %}
                        {% for autor in autores %}
                        <option value="{{ autor.id }}">{{ autor.nome }}</option>
                        {% endfor %}
                        {% else %}
                        <option value="" disabled>Não há autores cadastrados</option>
                        {% endif %}
                    </select><br>

                    <!-- Seletor de categoria do livro -->
                    <label for="categoria_id">
                        <h3>Categoria:</h3>
                    </label>
                    <select id="categoria_id" name="categoria_id" required>
                        <option value="">Selecione uma categoria</option>
                        <option value="0">Desconhecido</option>
                        {% if categorias %}
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                        {% endfor %}
                        {% else %}
                        <option value="" disabled>Não há categorias cadastradas</option>
                        {% endif %}
                    </select><br>

                    <!-- Campos para ISBN, data de publicação e número de páginas -->
                    <label for="isbn">
                        <h3>ISBN:</h3>
                    </label>
                    <input type="text" id="isbn" name="isbn" placeholder="Digite o ISBN" required><br>

                    <label for="quantidade_total">
                        <h3>Quantidade Total:</h3>
                    </label>
                    <input type="number" id="quantidade_total" name="quantidade_total"
                        placeholder="Digite o Total disponivel" required><br>

                    <label for="publicadoEm">
                        <h3>Data de Publicação:</h3>
                    </label>
                    <input type="date" id="publicadoEm" name="publicadoEm" required><br>

                    <!-- Botão para enviar o formulário -->
                    <button type="submit">Adicionar Livro</button>
                </form>



                <!-- Link para ver os livros cadastrados -->
                <button><a href="{{ url_for('bp_books.view_books') }}" class="button">Ver Livros</a></button>
            </div><br>
            <!-- Formulário para adicionar uma nova categoria -->
            <div class="container">
                <form action="{{ url_for('bp_categories.add_category') }}" method="post">
                    <h1>Adicionar Categoria</h1><br>

                    <label for="categoria">
                        <h3>Categoria:</h3>
                    </label>
                    <input type="text" id="categoria" name="categoria" placeholder="Digite o nome da categoria"
                        required><br>

                    <button type="submit">Adicionar Categoria</button>
                </form>
                <button><a href="{{ url_for('bp_categories.view_categories') }}" class="button">Ver
                        Categorias</a></button>
            </div>

            <br>

            <!-- Link para ver as categorias cadastradas -->

            <div class="container">
                <!-- Formulário para cadastro de autor -->
                <form action="{{ url_for('bp_autores.add_autor') }}" method="post">
                    <h1>Cadastro de Autor</h1><br>

                    <label for="nome">
                        <h3>Nome do Autor:</h3>
                    </label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o nome do autor" required><br>

                    <label for="data_nascimento">
                        <h3>Data de Nascimento:</h3>
                    </label>
                    <input type="date" id="data_nascimento" name="data_nascimento" required><br>

                    <label for="nacionalidade">
                        <h3>Nacionalidade:</h3>
                    </label>
                    <input type="text" id="nacionalidade" name="nacionalidade" placeholder="Digite a nacionalidade"
                        required><br>

                    <button type="submit">Cadastrar Autor</button>
                </form>
                <button><a href="{{ url_for('bp_autores.view_autores') }}" class="button">Ver Autores</a></button>
            </div>

            <br>

            <div class="container">
                <!-- Formulário para adicionar um novo empréstimo -->
                <form action="{{ url_for('bp_loan.add_emprestimo') }}" method="post">
                    <h1>Adicionar Empréstimo</h1><br>


                    <!-- Campo de seleção para o usuário -->
                    <label for="usuario_id">
                        <h3>Usuário:</h3>
                    </label>
                    <select id="usuario_id" name="usuario_id" required>
                        <option value="">Selecione um usuário</option>
                        {% if usuarios %}
                        {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                        {% endfor %}
                        {% else %}
                        <option value="" disabled>Não há usuários cadastrados</option>
                        {% endif %}
                    </select><br>

                    <!-- Campo de seleção para o livro -->
                    <label for="livro_id">
                        <h3>Livro:</h3>
                    </label>
                    <select id="livro_id" name="livro_id" required>
                        <option value="">Selecione um livro</option>
                        {% if livros %}
                        {% for livro in livros %}
                        <option value="{{ livro.id }}">{{ livro.titulo }}</option>
                        {% endfor %}
                        {% else %}
                        <option value="" disabled>Não há livros cadastrados</option>
                        {% endif %}
                    </select><br>

                    <!-- Campo para selecionar a data prevista para devolução -->
                    <label for="data_devolucao_prevista">
                        <h3>Data Prevista para Devolução:</h3>
                    </label>
                    <input type="date" id="data_devolucao_prevista" name="data_devolucao_prevista" required><br>

                    <!-- Botão para submeter o formulário -->
                    <button type="submit">Adicionar Empréstimo</button>
                </form>

                <!-- Link para visualizar empréstimos -->
                <button><a href="{{ url_for('bp_loan.view_emprestimos') }}" class="button">Ver Empréstimos</a></button>
            </div>
<br>
            <div class="container">
                <!-- Formulário para adicionar um novo usuário -->
                <form action="{{ url_for('bp_usuario.add_usuario') }}" method="post">
                    <h1>Adicionar Usuário</h1><br>

                    <!-- Campo para o nome do usuário -->
                    <label for="nome">
                        <h3>Nome:</h3>
                    </label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o nome do usuário" required><br>

                    <!-- Campo para o email do usuário -->
                    <label for="email">
                        <h3>Email:</h3>
                    </label>
                    <input type="email" id="email" name="email" placeholder="Digite o email do usuário" required><br>

                    <!-- Campo para a senha do usuário -->
                    <label for="senha">
                        <h3>Senha:</h3>
                    </label>
                    <input type="password" id="senha" name="senha" placeholder="Digite a senha do usuário" required><br>

                    <!-- Campo de seleção para o tipo de usuário -->
                    <label for="tipo">
                        <h3>Tipo de Usuário:</h3>
                    </label>
                    <select id="tipo" name="tipo" required>
                        <option value="">Selecione o tipo</option>
                        <option value="admin">Admin</option>
                        <option value="comum">Comum</option>
                    </select><br>


                    <!-- Botão para submeter o formulário -->
                    <button type="submit">Adicionar Usuário</button>
                </form>

                <!-- Link para visualizar usuários -->
                <button><a href="{{ url_for('bp_usuario.view_usuarios') }}" class="button">Ver Usuários</a></button>
            </div>


        </div>

    </main>

    <!-- Rodapé da página -->
    <footer>
        <p>&copy; 2024 Biblioteca Igao</p>
    </footer>

</body>

</html>