<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <!-- Link para o arquivo de estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <header>
        <!-- Título da página de edição de usuário -->
        <h1>Editar Usuário</h1>
    </header>

    <main>
        <!-- Subtítulo informando que é um formulário de edição -->
        <h2>Formulário de Edição</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Formulário para edição de um usuário específico -->
        <form action="{{ url_for('bp_usuario.edit_usuario', usuario_id=usuario.id) }}" method="POST">

            <!-- Campo de edição para o nome do usuário -->
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" value="{{ usuario.nome }}" required>
            </div>

            <!-- Campo de edição para o email do usuário -->
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" value="{{ usuario.email }}" required>
            </div>

            <!-- Campo de edição para a senha do usuário -->
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </div>

            <!-- Campo de edição para o tipo do usuário -->
            <div>
                <label for="tipo">Tipo:</label>
                <select name="tipo" id="tipo" required>
                    <option value="admin" {% if usuario.tipo == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="user" {% if usuario.tipo == 'user' %}selected{% endif %}>User</option>
                </select>
            </div>

            <!-- Botão para submeter o formulário e atualizar as informações do usuário -->
            <button type="submit">Atualizar Usuário</button>
        </form>
    </main>

    <!-- Rodapé com link para voltar à lista de usuários -->
    <footer>
        <a href="{{ url_for('bp_usuario.view_usuarios') }}" class="button">Voltar para a lista de usuários</a>
    </footer>

</body>

</html>
