.formularios-container,
.formularios-esconder.show
{
  display: flex;
  flex-wrap: wrap; /* Serve para alinhar os formulários em 3 por linha. Precisa de outro CSS para funcionar plenamente */
  gap: 20px; /* Espaço entre os formulários */
}


.toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toggle-button span {
  transform: rotate(0deg);
  transition: transform 0.3s ease; /* Animação suave ao rotacionar a setinha */
}

.toggle-button.active span {
  transform: rotate(90deg); /* Rotação da setinha para baixo */
}

.formularios-esconder {
  display: none; 
  margin-top: 10px;
}
