<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
</head>

<body>

    <header>
        <h1 class="centralizar">Lista de Livros</h1>
    </header>

    <main>

        <!-- Exibição de mensagens de alerta -->
        {% include "Bases/flash.html"%}

        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Outros Links</span><br><br>
        {% include "Bases/sidenav.html"%}

        <div class="imagem-botao toggle-button cancelar-animacao" data-target="esconder-livro" onclick="toggleContent(this)">
            <button class="pure-button pure-button-primary">Menu de Cadastro de Livro</button>
        </div>
        <br>
        <br>
        
        <div id="esconder-livro" class="esconder">
            {% include "Livro/addlivro.html" %}
        </div>
        <br>
        <br>
        
        {% include "Livro/verlivros-admin.html"%}

    </main>

    {% include "Bases/rodape.html"%}

</body>

</html>
