<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca do Igão - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> <!-- A base é o https://pure-css.github.io/ --> <!-- Ela é grande pois baixei o pure css, ao invés de puxar da internet.-->
    

</head>

<body>

    <header>
        <h1>Biblioteca do Igao</h1>
    </header>

    <main>
        <h2>Bem-vindo à Biblioteca Igao!</h2>
        <p>Selecione uma das opções abaixo para gerenciar livros, categorias ou autores.</p>

        <div class="forms-container">
            <div>
                <h1>Adicionar Livro</h1><br>

                <form action="{{ url_for('bp_books.add_book') }}" method="post" class="pure-form pure-form-aligned"> <!-- A classe é só para estilo mesmo. O mesmo vai se repetir abaixo. As classes não têm propósito a não ser estilo.-->
                    <fieldset> <!-- Demarca os campos do formulário. Puramente por estilo.-->

                        <div class="pure-control-group">
                            <label for="titulo"> <h3>Título</h3> </label> <!-- O label tem uma margem, mas que pode ser removida tranquilamente. Eu não a removi pois gostei :O -->
                            <input class="pure-input-1-4" type="text" id="titulo" name="titulo" placeholder="Digite o título do livro" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label for="autor_id"> <h3>Autor</h3> </label>
                            
                            <select id="autor_id" name="autor_id" class="pure-input-1-4" required>

                                <option value="">Selecione um autor</option>
                                <option value="0">Desconhecido</option>

                                {% if autores %}
                                    {% for autor in autores %}
                                        <option value="{{ autor.id }}">{{ autor.nome }}</option>
                                    {% endfor %}

                                {% else %}
                                    <option value="" disabled>Não há autores cadastrados</option>
                                {% endif %}

                            </select>
                        </div>

                        <div class="pure-control-group">

                            <label for="categoria_id"> <h3>Categoria</h3> </label>
                            <select id="categoria_id" name="categoria_id" class="pure-input-1-4" required>
                                <option value="">Selecione uma categoria</option>
                                <option value="0">Desconhecido</option>
                                {% if categorias %}
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" disabled>Não há categorias cadastradas</option>
                                {% endif %}

                            </select><br>

                        </div>


                        <div class="pure-control-group">
                            <label for="isbn"> <h3>ISBN</h3> </label>
                            <input type="text" id="isbn" name="isbn" placeholder="Digite o ISBN" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label for="quantidade_total"> <h3>Quantidade Total</h3> </label>
                            <input type="number" id="quantidade_total" name="quantidade_total" class="pure-input-1-4" placeholder="Digite o Total disponivel" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label for="publicadoEm"> <h3>Data de Publicação</h3> </label>
                            <input type="date" id="publicadoEm" name="publicadoEm" required> 
                        </div>
                        
                        <div class="pure-control-group">
                            <label></label> <!-- Esse label é bem na gambiarra. Serve pra dar o espaço antes do botão, pra alinhar com os outros campos input-->
                            <button type="submit" class="pure-button pure-button-primary">Adicionar Livro</button>
                        </div>

                    </fieldset>
                </form>

       
                <a href="{{ url_for('bp_books.view_books') }}" class="button">Ver Livros</a>

            </div>

            <div>
                <h1>Adicionar Categoria</h1><br>
                <form action="{{ url_for('bp_categories.add_category') }}" method="post" class="pure-form pure-form-aligned">
                    <fieldset>

                        <div class="pure-control-group">
                            <label for="categoria"><h3>Categoria</h3></label>
                            <input type="text" id="categoria" name="categoria" placeholder="Digite o nome da categoria" required>
                        </div>
                    
                        <div class="pure-control-group">
                            <label></label> <!-- Chamar o label assim, sem nada, é a mesma coisa que chamar uma função margem-->
                            <button type="submit" class="pure-button pure-button-primary">Adicionar Categoria</button>
                        </div>
                    </fieldset>
                </form>
                <button><a href="{{ url_for('bp_categories.view_categories') }}" class="button">Ver
                        Categorias</a></button>
            </div>

            <br>

            <!-- Link para ver as categorias cadastradas -->

            <div class="container">
                <!-- Formulário para cadastro de autor -->
                <form action="{{ url_for('bp_autores.add_autor') }}" method="post">
                    <h1>Cadastro de Autor</h1><br>

                    <label for="nome">
                        <h3>Nome do Autor:</h3>
                    </label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o nome do autor" required><br>

                    <label for="data_nascimento">
                        <h3>Data de Nascimento:</h3>
                    </label>
                    <input type="date" id="data_nascimento" name="data_nascimento" required><br>

                    <label for="nacionalidade">
                        <h3>Nacionalidade:</h3>
                    </label>
                    <input type="text" id="nacionalidade" name="nacionalidade" placeholder="Digite a nacionalidade"
                        required><br>

                    <button type="submit">Cadastrar Autor</button>
                </form>
                <button><a href="{{ url_for('bp_autores.view_autores') }}" class="button">Ver Autores</a></button>
            </div>

            <br>

            <!-- Link para ver os autores cadastrados -->

        </div> <!-- Aqui terminam os formulários -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <!-- Rodapé da página -->
    <footer>
        <p>&copy; 2024 Biblioteca Igao</p>
    </footer>

</body>

</html>
