<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}"> 
</head>
<body>
    <main>
        <h1>Cadastre-se no Sistema! 🚀</h1>

        <!-- Mensagens Flash -->
        <div class="flash_messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-warning" role="alert">
                            <p class="{{ category }} pure-button">{{message}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="super-centralizar">
            <div class="formulario">
                <h1 class="centralizar">Adicionar Usuário</h1>

                <form action="{{ url_for('bp_usuario.add_usuario') }}" method="post" class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="nome"> <h3>Nome</h3> </label>
                            <input type="text" id="nome" name="nome" placeholder="Digite o nome do usuário" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label for="email"> <h3>Email</h3> </label>
                            <input type="email" id="email" name="email" placeholder="Digite o email do usuário" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label for="senha"> <h3>Senha</h3> </label>
                            <input type="password" id="senha" name="senha" placeholder="Digite a senha do usuário" required><br>
                        </div>

                        <div class="pure-control-group">
                            <label></label>
                            <button type="submit" class="pure-button pure-button-primary">Adicionar Usuário</button>
                        </div>
                        <div class="pure-control-group">
                            <label></label>
                        </div>
                    </fieldset>
                </form>
                <p>Já possui uma conta? <br><br><button class="pure-button"> <a href="{{ url_for('bp_inicio.login') }}">Faça login aqui</a></button></p>

            </div>
        </div>
    </main>
</body>
</html>
