<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Editar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>

<body>
    <main>
        <h1>Editar Livro 📖</h1>

        <!-- Mensagens Flash -->
        <div class="flash_messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-warning" role="alert">
                            <p class="{{ category }} pure-button">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="super-centralizar">
            <div class="formulario">
                <h1 class="centralizar">Formulário de Edição ✏️</h1>
                <form action="{{ url_for('bp_books.edit_book', id=livro.id) }}" method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="titulo"> <h3>Título</h3></label>
                            <input type="text" name="titulo" id="titulo" value="{{ livro.titulo }}" required>
                        </div>

                        <div class="pure-control-group">
                            <label for="isbn"> <h3>ISBN</h3></label>
                            <input type="text" name="isbn" id="isbn" value="{{ livro.isbn }}" required>
                        </div>

                        <div class="pure-control-group">
                            <label for="data_publicacao"> <h3>Data de Publicação</h3></label>
                            <input type="date" name="data_publicacao" id="data_publicacao" value="{{ livro.data_publicacao }}" required>
                        </div>

                        <div class="pure-control-group">
                            <label for="quantidade_total"> <h3>Quantidade Total</h3></label>
                            <input type="text" name="quantidade_total" id="quantidade_total" value="{{ livro.quantidade_total }}" required>
                        </div>

                        <div class="pure-control-group">
                            <label for="autor_id"> <h3>Autor</h3></label>
                            <select name="autor_id" id="autor_id" class="pure-input-1-2" required>
                                <option value="0">Desconhecido</option>
                                {% if autores %}
                                    {% for autor in autores %}
                                        <option value="{{ autor.id }}" {% if autor.id == livro.autor_id %}selected{% endif %}>
                                            {{ autor.nome }}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" disabled>Não há autores cadastrados</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label for="categoria_id"> <h3>Categoria</h3></label>
                            <select name="categoria_id" class="pure-input-1-2" id="categoria_id" required>
                                <option value="0">Desconhecido</option>
                                {% if categorias %}
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.id }}" {% if categoria.id == livro.categoria_id %}selected{% endif %}>
                                            {{ categoria.nome }}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" disabled>Não há categorias cadastradas</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label></label>
                            <button type="submit" class="pure-button pure-button-primary pure-input-1-2">Atualizar Livro</button>
                        </div>
                    </fieldset>
                </form>

                <p><button class="pure-button"><a href="{{ url_for('bp_books.view_books') }}">Voltar para a lista de livros</a></button></p>
            </div>
        </div>
    </main>
</body>

</html>
